
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #000000; 
    color: #ffffff; /* Flipped to white so it reads if no other colour set*/
    line-height: 1.6; /* space */
    -webkit-font-smoothing: antialiased; /* Keeps fonts nice */
}


h1 {
    /* for mobile */
    font-size: clamp(2rem, 8vw, 4.5rem); 
    letter-spacing: 1px;
    text-align: center;
}

/* for mobile */
h2, .section-title {
    font-size: clamp(1.4rem, 5vw, 2.2rem);
    margin-bottom: 20px;
    text-align: center;
}

/* for mobile */
p, .subtitle, .desc {
    font-size: clamp(0.95rem, 2.5vw, 1.2rem);
    max-width: 90%; /* Prevents text lines from hitting the edges */
    margin-left: auto;
    margin-right: auto;
}

/* for mobile */
@media (max-width: 600px) {
    /* so nav links dont go weird */
    .navbar nav {
        gap: 20px; 
    }
    
    .nav-link {
        font-size: 0.95rem;
    }
}

.page-transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000; /* if picture not large enough */
    z-index: 9999; /* Forces it on top of everything */
    pointer-events: none; /* Prevents the invisible layer from blocking mouse  */
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Controls the speed of the fade (0.5 seconds) */
}

/*  State trigger to fade out the mask */
.page-transition-overlay.fade-out {
    opacity: 0;
}

/* State trigger to fade back in before leaving */
.page-transition-overlay.fade-in {
    opacity: 1;
}

.navbar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.nav-menu {
    display: flex;
    gap:40px;
}

.nav-link {
    text-decoration: none;
    color: #fdfbd4;
    font-size: 1.1rem;
    font-weight: 200;
    transition: opacity 0.2s;
}

.nav-link:hover {
    opacity: 0.7;
}