body {
    background-image: url('images/stars.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
}

.nav-link.active {
    text-decoration: underline;
}